<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WTA_Tour</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/wtaTour">WTA_Tour</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/wtaTour">Home</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          WTA_Tour
        </a>
        <div class="dropdown-menu">
          <a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="/add-wtaTour">Add</a>
          <a class="dropdown-item" routerLink="/wtaTour">List</a>
          <a class="dropdown-item" routerLink="/rechercheParStat" >Search Stat</a>
          <a class="dropdown-item" routerLink="/rechercheParNom" >Search Name</a>
          <a class="dropdown-item" routerLink="/liststat" *ngIf="authService.isAdmin()" >Management of Stat</a>
        </div>
      </li>
    </ul>
    
    <!-- Right-aligned menu -->
    <ul class="navbar-nav ml-auto">
      <li> <a class="nav-link">{{authService.loggedUser}}</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Connexion
        </a>
        <div class="dropdown-menu">
          <a *ngIf="!authService.isloggedIn"  class="dropdown-item" routerLink = "login">login</a>
          <a *ngIf="authService.isloggedIn"  class="dropdown-item" (click) = "onLogout()">logout</a>
          <a class="dropdown-item" href="#">Profile</a>
        </div>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</body>
</html>