<style>
  /* Animation de changement de couleur au survol des lignes du tableau */
  .table-striped tbody tr:hover {
    animation: changeColor 1s ease;
  }

  @keyframes changeColor {
    0% { background-color: #ffffff; }
    50% { background-color: rgb(245, 255, 159); }
    100% { background-color: #ffffff; }
  }

  /* Animation d'opacité pour la table */
  .table-animated {
    animation: fadeIn 1s ease;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
</style>

<div class="container">
    <div class="card shadow mb-4" style="border-radius: 15px; background-color: #f8f9fa;">
      <div class="card-body">
        <table class="table table-striped table-hover table-animated">
          <tr>
            <th>Id</th>
            <th>Court Surface</th>
            <th>Dotation</th>
            <th>Date Tour</th>
            <th>Name Tour</th>
            <th>Winner</th>
            <th>Status</th>
            <th>Image</th>
            <th *ngIf="authService.isAdmin()">M.O.D</th>
            <th *ngIf="authService.isAdmin()">D.E.L</th>
          </tr>
          <tbody *ngFor="let tour of wtatour">
            <tr>
              <td>{{ tour.idTour }}</td>
              <td>{{ tour.courtSurface }}</td>
              <td>{{ tour.dotation }}</td>
              <td>{{ tour.dateTour | date:'dd/MM/yyyy' }}</td>
              <td>{{ tour.nameTour }}</td>
              <td>{{ tour.winner }}</td>
              <td>{{ tour.stats!.idStat }}</td>
              <td><img class="card-img-top img-responsive" src = "{{tour.imageStr}}" style = "height :50px;width:100px"> </td>              <td><a *ngIf="authService.isAdmin()" class="btn btn-warning"  [routerLink]="['/update-wtaTour', tour.idTour]">Update</a></td>
              <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="suppWtaTour(tour)">delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>