<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-stat [stats]="updatedStat" [ajout]="ajout" (statUpdated)= "statUpdated($event)"></app-update-stat>
        </div>
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <thead>
    <tr> <th>Id</th><th>Name Player</th><th>Nationality</th><th>Ranking</th><th>TitlesWon</th><th>Action</th></tr>
    </thead>
    <tbody *ngFor="let st of stats">
    <tr>
    <td>{{st.idStat}}</td>
    <td>{{st.namePlayer}}</td>
    <td>{{st.nationality}}</td>
    <td>{{st.ranking}}</td>
    <td>{{st.titlesWon}}</td>
    <td><a class="btn btn-success" (click)="updatedStats(st)">Edit</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>